@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif!important;
    font-family: 'Noto Sans', sans-serif!important;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.circle img {
    width: 100%;
}
.navbar-collapse {
    flex-grow: inherit!important;
}

.header {
    padding: 140px;
}

.card-body {
    padding: 16px 0!important;
}

.underline {
    text-decoration: underline;
}

img.bg-opacity {
    opacity: 0.9;
}

img.bg-opacity:hover {
    opacity: 1;
}

span.badge.badge-dark {
    background: #fff;
    font-size: 14px;
    color: #000;
    margin: 4px;
}
